.container {
    height: 600px;
    width: 80%;
    margin-left: 5%;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    background-color: #ffffff;
}

.score, .lives {
    font-size: 3em;
}

.brick {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 45px;
    padding: 0;
    color: #ffffff;
    border: 1px solid black;
    line-height: 40px;
}

.gameover {
    position: absolute;
    color: #ffffff;
    line-height: 300px;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    background-color: #ff0000;
    width: 100%;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-size: 20px 20px;
    background-image: url('./images/ball5.png');
    top: 70%;
    left: 50%;
    display: none;
}

.paddle {
    position: absolute;
    background-color: #000000;
    height: 20px;
    width: 100px;
    border-radius: 25px;
    bottom: 2px;
    left: 50%;
}